.*{
	font-family: Time of new roman;
}


fieldset{
	margin: 10px;
	border-radius: 5px;
}
input{
	margin: 10px;
	border-radius: 5px;
	margin-left: 30px;
	width: 400px;
	height: 20px;
}
select{
	margin: 10px;
	border-radius: 5px;
	margin-left: 30px;
	width: 400px;
	height: 20px;
}
label{
	text-align-last: right;
}
p{
	background: silver;
	width: 100%;
	padding: 10px;
}
.star{
	color: red;
}
.form-control {
	margin: 10px 10px;
}

.form-control label:first-child {
	width: 150px;
	float: left;
}
.form-control select:first-child {
	width: 150px;
	float: left;
}
.submitt{
	width: 100px;
	margin-left: 100px;
}
.button{
	width: 20px;
	margin-left: 180px;
}
.error-msg{
	color: red;
}
.success-msg{
	color: green;
}