.red{
	color: red;
}
.font-ul{
	font-family: consolas;
}
*{
	font-family: tahoma;
	font-size: 11px;
}
h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
}
#special{
	color: #00FF40;
}
